[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorflow-gpu = "*"

[packages]
numpy = "*"
pandas = "*"
opencv-contrib-python = "*"
matplotlib = "*"
tensorflow = "2.2.0"
sklearn = "*"
pipfile = "*"

[requires]
python_version = "3.6"
